.l-jus-sel-r {
    justify-self: right;
}

.l-jus-sel-l {
    justify-self: left;
}

.l-jus-sel-c {
    justify-self: center;
}

.l-jus-con-c {
    justify-content: center;
}

.l-jus-con-s {
    justify-content: start;
}

.l-ali-sel-s {
    align-self: start;
}

.l-ali-sel-e {
    align-self: end;
}

.l-ali-sel-c {
    align-self: center;
}

.l-ali-ite-c {
    align-items: center;
}

.l-ali-ite-s {
    align-items: start;
}

.l-ali-sel-flex-e {
    align-self: flex-end;
}

.l-m-auto {
    margin: auto;
}

.l-mar-r-10 {
    margin-right: 10px;
}

.l-mar-l-10 {
    margin-left: 10px;
}

.l-mar-b-10 {
    margin-bottom: 10px;
}

.l-mt-10 {
    margin-top: 10px;
}

.l-mt-13 {
    margin-top: 13px;
}

.l-mr-10 {
    margin-right: 10px;
}

.l-ml-10 {
    margin-left: 10px;
}

.l-ml-40 {
    margin-left: 40px;
}

.l-mb-10 {
    margin-bottom: 10px;
}

.l-mt-10 {
    margin-top: 10px;
}

.l-mt-20 {
    margin-top: 20px;
}

.l-mt-22 {
    margin-top: 22px;
}

.l-mt-30 {
    margin-top: 30px;
}

.l-mt-40 {
    margin-top: 40px;
}

.l-mt-50 {
    margin-top: 50px;
}

.l-ml-40 {
    margin-left: 40px;
}

.l-ml-50 {
    margin-left: 50px;
}

.l-mr-50 {
    margin-right: 50px;
} 

.l-mr-10 {
    margin-right: 10px;
}
.l-mr-20 {
    margin-right: 20px;
}

.l-mb-50 {
    margin-bottom: 50px;
}


.l-p-10 {
    padding: 10px;
}

.l-p-15 {
    padding: 15px;
}

.l-pt-40 {
    padding-top : 40px;
}

.l-pl-10 {
    padding: 10px;
}

/* Sizes */

.l-fs-50 {
    font-size: 50px;
}

.l-vh-100 {
    height: 100vh;
}

.l-vw-100 {
    width: 100vw;
}

.l-vh-90 {
    height: 90vh;
}

.l-bor-rad-10 {
    border-radius: 10px;
}

.l-w-100p {
    width: 100%;
}