$mobile-widest: 570px;
$display-xl: 2500px;

.l-sw-1920 {
  width: 1920px;
}

.l-sw-2920 {
  width: 2920px;
}

.l-sw-3920 {
  width: 3920px;
}

.l-sw-100 {
  width: 100%;
  height: 1080px;
}

.l-w-5 {
  width: 5px;
}

.l-w-75 {
  width: 75px;
}

.l-w-90 {
  width: 90px;
}

.l-w-100 {
  width: 100px;
}

.l-w-400 {
  width: 400px;
}

.l-w-500 {
  width: 500px;
}

.l-h-50 {
  height: 50px;
}

.l-h-500 {
  height: 500px;
}